* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
body {
  min-height: 100vh;
  position: relative;
}
#espace-pour-footer {
  height: 150px;
}
