// Specific CSS for your home-page
.mainContainer {
  background-image: asset-url('rabbit-home-page.jpeg');
  background-position: center;
  background-size: cover;
  height : 100vh;
  margin-top: -40px;
}

.btn {
  font-size: 20px;
  border-radius: 10px;
  background-color: $green;

}

.buttonContainer{
  margin-top: 130px;
  margin-left: -750px;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 80px;
  color: white;
  margin-left: -750px;
}

.description{
  color: white;
  font-size: 20px;
  margin-left: -750px;
  font-weight: lighter;
}
