// Specific CSS for your home-page
.mainContainer {
  background-image: asset-url('mohan-khadka-3mEqiyQjHGk-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height : 100vh;
  margin-top: -40px;
}
