// Specific CSS for your home-page
.mainContainer {
  background-image: asset-url('rabbit-home-page.jpeg');
  background-position: center;
  background-size: cover;
  height : 100vh;
  margin-top: -40px;
}

.buttonContainer {
  margin-left: 80px;
  margin-top: 40px;
}

#title-site {
  font-size: 150px;
  margin-left: 80px;
  color: white;
}

.punchline{
  color: white;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 100px;
  margin-bottom: 30px;
}

.buttonContainer .bunny-btn {
  margin: 20px;
  padding: 20px;
}
