<div class='text-center mb-4'>
  <h1>All Bunnies</h1>
</div>

<div class="d-flex justify-content-center m-4">

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <% @bunnies.each do |bunny|%>
      <h2><%= bunny.name %></h2>
      <p><%= bunny.price_per_day %> Euros</p>
      <% end %>
    </div>
  </div>

  <div class='map'>
  </div>
</div>

