<div class="container">
   <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2><%= @bunny.name %></h2>
        <p><%= @bunny.description %></p>
      </div>


      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      <h2 class="card-trip-pricing"><%= @bunny.price_per_day %></h2>
    </div>

    <a class="btn btn-secondary" src="#">Réserver</a>
    <%= link_to 'retour à la liste', bunnies_path, class: 'btn btn-secondary' %>
  </div>
</div>
