<div id="footer-bunnynb">
  <p id="footer-words">Fait avec <i class="fas fa-heart"></i> par la bunny team </p>
  <div class="social-media text-center">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
  </div>
</div>

