  <div class='mainContainer d-flex flex-column justify-content-center'>
    <h1 id="title-site">BunnynB</h1>

    <div class="punchline">
      <h2>Un lapin, des calins !</h2>
    </div>

    <div class='buttonContainer'>
    <%= link_to 'trouver son bunny', bunnies_path, class: 'bunny-btn' %>
    <%= link_to 'Louer son bunny', bunnies_path, class: 'bunny-btn' %>
    </div>
  </div>
