  <div class='mainContainer d-flex flex-column justify-content-center align-items-center'>
    <h1 class='mt-4'>BunnynB</h1>
    <div class='buttonContainer d-flex'>
    <%= link_to 'louer un lapin', bunnies_path, class: 'btn btn-secondary' %>
    </div>
  </div>
