.card-product-owner {
height: 100%;
}

.bunny-name {
  margin-top: 30px;
}

.confirm-circle {
  font-size: 30px;
  color: #276749;
  padding-right: 10px;
  padding-top: 5px;
}

.no-circle {
  font-size: 30px;
  color: #2D3748;
  padding-top: 5px;
}

.ask-confirm {
  font-size: 18px;
}

.owner-status {
  margin-bottom: 10px;
}
