// .bunny-container {
//   margin-left: 100px;
//   margin-right: 100px;
//   margin-top: 20px;
//   margin-bottom: 40px;
// }

.wrapper-bunny {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.photo-bunny-container {
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper-description-bunny {
  margin-top: 60px;
  border-bottom: 1px solid $light-gray;
}

.name-price-bunny-container {
  width: 100%;
  // border-bottom: 1px solid $light-gray;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
  border-bottom: 1px solid $light-gray;
}

.liste-caracteristiques-bunny {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $light-gray;
  // border-top: 1px solid $light-gray;
}

.liste-caracteristiques-bunny ul li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.b-picture {
  padding-bottom: 20px;
  object-fit: cover;
}

.bunny-owner {
  display:flex;
  align-items: center;
  border: solid 1px $light-gray;
  padding: 10px;
  border-radius: 5px;
  width: 1100px;
  margin: 0 auto;
}

.user-picture-bunny {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  object-fit: cover;
  // position: absolute;
  top: 290px;
  right: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-right: 20px;
}

#price-per-day {
  font-size: 24px;
  color: $green !important;
}

#bunny-name {
  font-weight: normal;
  font-size: 24px;
}
// .btn-outline-secondary {
//   color: black !important;
// }

.booking-form {
  width: 100%;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

#total-price {
  font-size: 20px;
  padding: 10px;
}

#new-booking {
  margin: 0;
  width: 100%;
}

.booking-new {
  margin-top: 20px;
}
#total-price-euros {
  margin-right: 10px;
}
