.bunny-btn {
  padding: 8px 0px;
  border-radius: 4px;
  background: $green;
  transition: background 0.3s ease;
  display: inline;
  color: white !important;
}

.bunny-btn:hover {
  background: #1BCB7F;
  text-decoration: none;
}

.btn {
  color: white !important;
}
