.main-bunny {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card-bunny {
  border: 1px solid $light-gray;
  border-radius: 5px;
  padding: 10px;
}

.wrap-container {
  display: flex;
}

#bunny-price {
  border: 1px solid $light-gray;
  padding: 5px;
  border-radius: 5px;
}

#bunnies-title {
  margin-bottom: 30px;
  text-align: center;
}
