#footer-bunnynb {
  height: 100px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: $green;
  padding-top: 20px
}

.social-media i {
  font-size: 20px;
  color: white;
  padding: 10px;
}

#footer-words {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
}
