.signin {
  display: flex;
  align-items: center;
  background-color: white;
  height: 100vh;
  border: solid 1px black;
}

.signin-image {
  background-image: asset-url('rabbit-signin.jpeg');
  background-size: cover;
  background-position: center;
  width: 50%;
  text-align: center;
  color: $white;
  height: 100vh;
}

.signin-image h2 {
  margin: auto;
}

.form-signin {
  flex-grow: 1;

}

.signin-titles {
  text-align: center;

  h1 {
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    margin-bottom: 35px;
  }
}

.form {
  margin: 30px auto;
  width: 400px;
  padding: 30px;
  border: solid 1px $gray;
  box-shadow: 0px 2px 29px #C8C8C8;
  font-size: 13px;

  .bunny-btn {
    margin: 0 auto;
  }
}

.form-inputs input {
  background-color: white !important;
}

.form-actions:hover {
  background: #1BCB7F;
  color: white;
  text-decoration: none;
}

.form-check-label {
  color: $black !important;
}

.devise-links {
  margin-top: 30px;
}
