// .map {
//   width: 50%;
//   height : 100vh;
//   position: sticky;
//   object-fit: cover;
//   top: 0;
// }

// .fausse-map {
//   width: 100%;
// }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#map {
  position: sticky;
  top: 0;
  margin-top: 10px;
}
