.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.principal-title-booking {

}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
}

.card-product p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.wrapper-bookings {
  margin-top: 50px;
}

.card-product-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-date-booking {
  margin-top: 8px;
}

.booking-date{
  font-weight: bold;
  font-size: 18px;
}
.container-name-price {
  margin-left: 20px;
}
.status-booking {
  font-size: 22px;
  font-weight: bold;
}

.info-owner {
border-left: 1px $gray solid;
width: 200px;
}
.container-photo-owner {
padding-left: 70px;
}

.photo-owner {
  border-radius: 50%;
  height: 70px !important;
  width: 70px !important;
}

.owner-name {
 font-size: 14px !important;
 text-align: center;
}

.address-owner {
  padding-left: 20px;
  text-align: center;
}

.pending {
color: #975A16;
border-radius: 10px;
background-color: #FAF089;
display: inline-block;
padding: 3px 10px;
margin-bottom: 20px;
margin-top: 10px;
margin-left: 15px;
}

.confirmed {
color: #276749;
border-radius: 10px;
background-color: #deff8b;
display: inline-block;
padding: 3px 10px;
margin-bottom: 20px;
margin-top: 10px;
margin-left: 15px;
}

.refused {
color: #2D3748;
border-radius: 10px;
background-color: #ebe6e6;
display: inline-block;
padding: 3px 10px;
margin-bottom: 20px;
margin-top: 10px;
margin-left: 15px;
}
